// Define variables for your color scheme
$def-light-blue: #CAD3FC;
$def-brown: #A08574;
$def-light-pink: #F5BEA7;
$def-dark: #552B1E;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main-red: #c90029;
$main-teal: #9cd1ce;
$main-blue: #002c4d;

