// Specific CSS for your home-page
.home-container {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-control {
  margin-right: 8px;
}

.search-bar > form {
  display: flex;
}

#map {
  width: 100%;
  height: auto;
}


@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .banner {
    display: none;
  }
  #home-main{
    width: 100%;
  }

  .card-product {
    width: 100%;
  }

  #map {
    display: none;
  }
}
