<div class="footer fixed-bottom">
	<div class="footer-links">
		<a href="#"><i class="fab fa-github"></i></a>
		<a href="#"><i class="fab fa-instagram"></i></a>
	</div>
	<div class="footer-copyright">
		Babies cuteness is fun... just for one night
	</div>
</div>