<div class="container">
	<div class="card-product mt-4">
		<img src="https://i.kym-cdn.com/entries/icons/original/000/014/285/sideeyechloe.jpg" />
		<div class="card-product-infos">
			<h2>Chloé</h2>
			<p>Horrible 3 y-o baby who cries a lot</p>
		</div>
	</div>
	<div class="card-product mt-4">
		<img src="https://images.unsplash.com/photo-1562887194-a50958050e39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80" />
		<div class="card-product-infos">
			<h2>Mathias</h2>
			<p>Cute 2 y-o baby, but boring</p>
		</div>
	</div>
</div>