.banner {
  background-size: cover;
  background-position: center;
  height: 88vh;
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-card {
  background: #ffffff !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 441px !important;
    box-shadow: 0 16px 40px rgba(0,0,0,0.25) !important;
    position: absolute;
    top: 150px;
    left: 100px;
}
.banner-card h1 {
  color: #002c4d;

}

.banner-card h2 {
color: #002c4d;
}

.banner-card p {
color: #002c4d;
}
