.button {
	color: $main-blue;
    background-color: transparent;
    background-image: none;
    border-color: $main-blue;
    border-radius: 5px;
    &:hover {
    	color: white !important;
    	background-color: $main-blue;
    	border-color: $main-blue;
    }
}
