.button {
	color: $def-dark;
    background-color: transparent;
    background-image: none;
    border-color: $def-dark;
    &:hover {
    	color: white !important;
    	background-color: $def-dark;
    	border-color: $def-dark;
    }
}

