.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: top;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .btn-primary {
  padding: 16px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .card-product-infos h3 {
  font-size: 20px;
}

.card-show-head {
  box-shadow: 0 0 10px #D3D3D3;
  background-color: white;
  .baby-price{
    color: $main-teal;
  }
}

.card-show-details {
  box-shadow: 0 0 10px #D3D3D3;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .baby-description {
    color: $main-red;
    font-style: italic;
    font-size: 25px;
    align-items: center;
  }
}

