.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: top;
  width: 600px;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

// .card-product {
//   transition:  0.1s;
// }

// .card-product:hover {
//   transform: translateX(-2px);
// }

.card-product img {
  height: 100%;
  width: 180px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
