.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: top;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .btn-primary {
  padding: 16px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .card-product-infos h3 {
  font-size: 20px;
}
